
@inject SignInManager<AppUser> SignInManager
<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form @*asp-controller="Blog" asp-action="Blog" *@ enctype="multipart/form-data" class="card card-sm mt-3" method="post">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <div class="col">
                        <input name="Name" class="form-control form-control-lg form-control-borderless"
                               type="text"
                               placeholder="Search topics or keywords" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success search" type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class=" Posts row">

        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-img">
                        <img src="~/img/@item.Img" alt="blog image" />
                    </div>
                    <div class="blog-content">
                        <div class="blog-title">
                            <h4><a asp-controller="Blog" asp-action="Post" asp-route-id="@item.Id">@item.Name</a></h4>
                            <div class="meta">
                                @item.Date
                            </div>
                        </div>
                        <p>
                            @item.PrewText
                        </p>
                        <a class="btn btn-primary" asp-controller="Blog" asp-action="Post" asp-route-id="@item.Id">Read more</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a class="btn-warning btn" asp-controller="Blog" asp-action="Edit" asp-route-id="@item.Id">Edit</a>


                            <a class="btn btn-danger" asp-controller="Blog" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')">Delete</a>
                        }

                    </div>
                </div>
            </div>
        }


    </div>
</div>
